<!DOCTYPE html>
<HTML>
    <script src="prospect.ts"></script>
    <header>
        <title>見込み一覧</title>
        <body>
            <label for="selectStore">店舗：</label>
            <select id="selectStore"></select>
        

            <div>
                
                <table border="1">
                    <thead></thead> <!-- 工事種別名 -->
                    <thead>
                        <tr>
                            <th>No.</th> <!-- index -->
                            <th>ランク</th>
                            <th>お客様名</th>
                            <th>契約予定金額</th>
                            <th>金融機関</th>
                            <th>担当者</th>          <!-- ここすも営業 -->
                            <th>エージェント</th>    <!-- ゆめてつAG -->
                            <th>不動産決済日</th>
                            <th>設計申込日</th>
                            <th>契約予定日</th>
                            <th>備考</th>   
                        </tr>
                    </thead>
                    <tbody>
                        <td></td>
                        <td>小計</td>
                    </tbody>
                </table>


            </div>
        </body>
    </header>
</HTML>
