.tableContainer {
    /* display: flex; */
    margin: 0 auto;
    width: 90%;
    justify-content: center; /* 水平方向にセンターに配置 */
    align-items: center; /* 垂直方向にセンターに配置 */
   
}

.prospectTableContainer, .totalTable {
    border: 1px solid black;
    margin-bottom: 12px;
    border-collapse: collapse; /* セルのボーダーを重ねないように設定 */
    border-radius: 10px; /* 角を丸くする半径を設定 */
}

.prospectTable td , th , .allTotalCell {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}

.prospectTable td:last-child {
    border-right: none;
}

.prospectTable tfoot td {
    border-bottom: none;
}

.tableContainer thead th {
    text-align: 5px;
    padding: 3px 10px;
}

.unknown {
    text-align: center;
}


.projNameHeader {
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.totalTable {
    margin: 0 auto;
    width: 100%;
    justify-content: center; /* 水平方向にセンターに配置 */
    align-items: left; /* 垂直方向にセンターに配置 */

}