/* 店舗選択 */
#prospect_selectStore {
  padding: 3px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* 注意書き */
.prospect_attention {
  line-height: 0.6; /* 行間調整 */
  font-weight: bold;
  margin: 5px 30px;
  padding: 5px 20px;
  background-color: #e0dcdc;
  border: 1px solid #afaeae;
  border-radius: 10px;
}

/* 印刷エリア */
@media print {
  @page {
    size: A4;
    margin: 20px;
    float: center;
  }

  /* ボディ要素の余白を設定 */
    html,
    body {
        height: 90%;
        background-color: #fff;
    }

    /* ページ内の要素がA4用紙内に収まるように設定 */
    #prospect_printArea {
        width: 100% !important;
        height: 100%;
        background-color: #ffffff;
        page-break-before: auto;
        page-break-after: auto;
      }

    /* 店舗ごとの印刷ページを分割 */
    .prospect_printContainer:not(:last-child) {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        background-color: #ffffff;
       /*  page-break-before: always; */
        page-break-after: always;
        break-inside: avoid; /* ページ内で分割を避ける（最終ページに空白ページが表示されるため） */
    }

    /*No.とランクだけ印刷時も幅を固定 */
    #prospect_number , #prospect_rank ,
    #prospect_numberIndex , #prospect_rankIndex {
      width: 20px;
    }

    /* 担当者名だけ文字の大きさを変更（印刷時のみ） */
    .prospect_agName {
      font-size: 8.8pt;
      padding: 3px 1px;
    }

    /* 日付部分のみ文字の大きさを変更（印刷時のみ） */
    .prospect_date {
      font-size: 10pt;
      padding: 3px 0px;
    }

    /* 顧客名と金融機関名を中央揃えにする（印刷時のみ） */
    #prospect_custNamefield,
    #prospect_paymentMethod {
      text-align: center;
    }

    /* 工事名称の幅指定 */
    .prospect_projNameHeader {
      width: 100%;

    }
   

    /* ヘッダー(個別)印刷時 */
    /* .contractHeader th {
        text-align: center;
        padding: 3px 5px;
    }
 */
    

    /* 印刷時の幅指定 */
    .prospectTableContainer {
        width: 200mm;
    }
    
    /* 印刷時のテーブル幅指定 */
    .prospectTable {
        margin: 0 auto;
        width: 960px;
        /* table-layout: fixed; */
    }
 
    /* 印刷時に非表示する部分の指定 */
    .selectButtonArea, /* 選択ボタン（店舗、印刷） */
    .contents-actionmenu-gaia,
    .contents-bottommenu-gaia,
    .kintone-app-header-space,
    header,
    nav,
    #header-global-navigation-root,
    #view-list-bottom-gaia,
    .contents-bottommenu-gaia {
        display: none !important;
    }
 
}

/* タイトル */
#prospectTitle {
  clear: both;
  float: left;
  margin-left: 15px;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

/* 作成日 */
#prospectDate {
  float: right;
  margin-right: 10px;
  font-size: 10pt;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
}

/* 表全体（タイトル・作成日除く） */
.prospect_tableContainer {
  /* display: flex; */
  clear: both;
  width: 100%;
  margin: 0px 10px;
  justify-content: center; /* 水平方向にセンターに配置 */
  align-items: center; /* 垂直方向にセンターに配置 */
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
  
}

/* 工事種別 */
.prospect_projNameHeader {
  background-color: #2e83b4;
  color: #ffffff;
  padding: 5px 10px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* ヘッダー(個別) */
.prospect_contractHeader th {
  font-size: 12pt;
  text-align: center;
  padding: 5px 10px;
}

.newline {
  white-space: pre-wrap;
}

/* ヘッダー全体、総合計テーブル */
.prospectTableContainer,
.prospect_totalTable {
  /* margin: 0 auto; */
  margin-bottom: 18px;
  background-color: #ffffff;
}

.page-app-index {
  background-color: #ffffff;
}

/* 見込み一覧ヘッダーセル、結果セル */
.prospectTable tr th,
tbody td {
  font-size: 12pt;
  white-space: nowrap;
  padding: 5px 10px;
}

/* 表全体セル */
.prospectTable td,
th,
.prospect_allTotalCell {
  border: 1px solid black;
}

/* 小計テーブル */
.prospect_totalCell {
  background-color: #fff79a;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 12pt;
}

/* 一覧結果がなしの場合 */
.prospect_unknown {
  text-align: center;
  width: 100%;
  height: 30px;
}

/* 総合計テーブル */
.prospect_totalTable {
  border: 1px solid black;
  width: 50%;
  /* margin: 0 auto; */
  text-align: center;
  float: left;
  padding: 5px 20px;
  font-size: 14pt;
  font-weight: bold;
  /* justify-content: center; /* 水平方向にセンターに配置 */
  /* align-items: left; /* 垂直方向にセンターに配置 */
}

/* 総合計名称セル */
.prospect_allTotalCell {
  background-color: #ffa551;
  width: 150px;
}

/* 【ランク】 */
#prospect_memo {
  clear: both;
  float: left;
  padding-bottom: 40px;
  font-size: 12pt;
  font-family: Arial, sans-serif;
}

/* 一覧を選択している時 */
.prospectContents :hover {
  background-color:#9dd4d4;
  cursor: pointer;
}