/* ゆめてつ紹介料CSS
   週次計算テーブル */

/* 週次計算テーブル */
table.table_weekly_result {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  margin-top: 16px;
}

/* Common styles for table header and body */
/* テーブルのヘッダーと一覧 */
.table_weekly_result th,
.table_weekly_result tbody td {
  padding: 3px 5px;
  margin: auto;
  white-space: nowrap;
  font-size: 14px;
}

/* Styles for table body cells */
/* 一覧のテーブル枠 */
.table_weekly_result tbody td {
  border: 1px solid #888;
}

/* Styles for table header cells */
/* ヘッダーセル */
.table_weekly_result thead th {
  
  color: #283618;
  text-align: center;
  font-weight: bold;
  border: 1px solid #888;
}