.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  table-layout: fixed;
}

.table th {
  padding: 3px 5px;
  margin: auto;
  color: #333;
  background: #faf8f8;
  border: 1px solid #a09e9e;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
}

.table td {
  border: 1px solid #e7e2e2;
  padding: 3px 5px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr {
  cursor: pointer;
  /* animate hover, fast in, slow out */
  transition: all 0.3s ease-in-out;

}

/* alternace color for each row */
.table tbody tr:nth-child(even) {
  background-color: #faf8f8;
}

.table tbody tr:hover {
  background-color: #dbd7d7;
}

@media print {
  .title {
    page-break-after: avoid;
  }

  /* Force not to overflow */
  .table {
    transform: scaleX(0.9);
    transform-origin: left top;
  }

}
