div.react-message {
  color:#fff;
  margin-left: 8px;
  margin-bottom: 4px;
  padding: 12px;
  text-align: center;

}


div.react-message.success {
  background : #91c36c;
}

div.react-message.error {
  background : #e74c3c;
}