@media print {

  @page {
    size: A3 landscape;
    margin: 10mm;
  }
  .printNode {
    height: 98vh;
    overflow: hidden;
  }

  .printNode td, .printNode th {
    padding-top: 0;
    padding-bottom: 0;
  }

  .printNode * {
    page-break-inside: avoid;
    break-inside: avoid;

  }



}