.contents-bottommenu-gaia {
  display: none;
}

#root {
  padding-bottom: 80px;
}

@media print {
  html,
  body {
    height: 90%;
    background-color: #fff;
  }

  .contents-actionmenu-gaia,
  .contents-bottommenu-gaia,
  .kintone-app-header-space,
  header,
  nav,
  #custom_toolbar,
  #header-global-navigation-root,
  #view-list-bottom-gaia,
  .contents-bottommenu-gaia {
    display: none !important;
  }

  .app-index-contents-gaia > .box-gaia {
    /* remove border */
    border: none !important;
  }

  /* page break before all .store_container except the first instance */
  .store_container:not(:first-child) {
    page-break-before: always;
  }

}
