@media print {
  .contents-actionmenu-gaia,
  .contents-bottommenu-gaia,
  .kintone-app-header-space,
  header,
  nav,
  #custom_toolbar,
  #header-global-navigation-root,
  #view-list-bottom-gaia,
  .contents-bottommenu-gaia
  {
    display: none !important;
  }

  .app-index-contents-gaia > .box-gaia {
    /* remove border */
    border: none !important;
  }

  body {
    background-color: #fff;
  }

  .store_container {
    page-break-inside: avoid;
  }

  /* page break before all .store_container except the first instance */
  .store_container:not(:first-child) {
    page-break-before: always;
  }


  #header-global-navigation-root {
    height: 0px !important;
  }
}
